
/* add your custom css here */
h1, p {
    font-family: Verdana, sans-serif;
}

h1 {
    color: gray;
    font-size: xx-large;
}

p {
    color: blue;
    padding-top: 0;
}

#my-svg-chart, svg {
    display: block;
    position: relative;
    margin: 0 auto;
}
#my-svg-chart g {
    pointer-events: all;
    cursor: pointer;

}

#my-svg-chart text {
    font-family: Verdana, sans-serif;
}

#my-svg-chart .show text {
    display: block;
}



